<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All task</title>
    <style>
        th,
        td {
            border: 1px solid black;

            background-color: rgb(248, 185, 142);
            text-align: center;
        }

        tr {
            height: 50px;
            padding: 15px;
        }

        table {
            background-color: darkgrey;
            border-collapse: collapse;
            width: 500px;
            height: 100%;
            margin-left: 430px;
        }

        a {
            text-decoration: none;
            font-size: 18px;
            color: black;
        }
        a:hover{
            color: rgb(13, 114, 0);
        }
    </style>
</head>

<body>
    &emsp;<a href="/">Regitration</a>&emsp;&emsp;&emsp;
    <a href="login/login">Login</a>&emsp;&emsp;&emsp;
    <a href="/logout">Logout</a>
    <center>
        <h1>All Task</h1>
    </center>
    <table>
        <th>Name</th>
        <th>Link</th>
        <tr>
            <td>Dynamic Table</td>
            <td><a href="/dynamictable">dynamictable</a></td>
        </tr>
        <tr>
            <td>Kuku cube</td>
            <td><a href="/kukucube">kukucube</a></td>
        </tr>
        <tr>
            <td>Tic-Tac-Toe</td>
            <td><a href="/tictactoe">tictactoe</a></td>
        </tr>
    </table>
</body>

</html>