<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All task</title>
    <style>
        th,
        td {
            border: 1px solid black;

            background-color: rgb(248, 185, 142);
            text-align: center;
        }

        tr {
            height: 50px;
            padding: 15px;
        }

        table {
            background-color: darkgrey;
            border-collapse: collapse;
            width: 500px;
            height: 100%;
            margin-left: 430px;
        }

        a {
            text-decoration: none;
            font-size: 18px;
            color: rgb(2, 0, 124);
        }
        a:hover{
            color: rgb(13, 114, 0);
        }
    </style>
</head>

<body>
    &emsp;<a href="/">Regitration</a>&emsp;&emsp;&emsp;
    <a href="login/login">Login</a>&emsp;&emsp;&emsp;
    <a href="/logout">Logout</a>
    <center>
        <h1>All Task</h1>
    </center>
    <table>
        <th>Name</th>
        <th>Link</th>
        <tr>
            <td>1. Dynamic Table</td>
            <td><a href="/dynamictable">dynamictable</a></td>
        </tr>
        <tr>
            <td>2. Kuku cube</td>
            <td><a href="/kukucube">kukucube</a></td>
        </tr>
        <tr>
            <td>3. Tic-Tac-Toe</td>
            <td><a href="/tictactoe">tictactoe</a></td>
        </tr>
        <tr>
            <td>4. JS events</td>
            <td><a href="/jsevent">jsevent</a></td>
        </tr>
        <tr>
            <td>5. HTML 1 (Ehya)</td>
            <td><a href="/html1">html1</a></td>
        </tr>
        <tr>
            <td>6. HTML 2 (Awan Hoster)</td>
            <td><a href="/html2">html2</a></td>
        </tr>
        <tr>
            <td>7. HTML 3 (HireX)</td>
            <td><a href="/html3">html3</a></td>
        </tr>
        <tr>
            <td>8. Student file crud</td>
            <td><a href="/student">student crud</a></td>
        </tr>
        <tr>
            <td>9. Student db crud</td>
            <td><a href="/studentdb/allstudent/1">student db crud</a></td>
        </tr>
        <tr>
            <td>10. Student Attendence and Exam result</td>
            <td><a href="/attendance/allstudent/1">student attendance</a></td>
        </tr>
        <tr>
            <td>11. Find with delimeters</td>
            <td><a href="/delimeter/allstudent/1">delimeter search</a></td>
        </tr>
        <tr>
            <td>12. View grid</td>
            <td><a href="/grid">grid</a></td>
        </tr>
        <tr>
            <td>13. Job Applicaiton</td>
            <td><a href="/jobapplicaiton/home">jobapplicaiton</a></td>
        </tr>
        <tr>
            <td>14. AJAX Job Applicaiton</td>
            <td><a href="/ajaxjobapplicaiton/home">ajaxjobapplicaiton</a></td>
        </tr>
        <tr>
            <td>15. JSON placeholder</td>
            <td><a href="/jsonplaceholder/posts">jsonplaceholder</a></td>
        </tr>
        <tr>
            <td>16. Time Zone</td>
            <td><a href="/timezone">timezone</a></td>
        </tr>
    </table>
    </body>

</html>