<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="task3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<title>task3</title>
</head>

<body>
    <h4 style="text-align: right;"><a href="/newprofile">Back to Home</a></h4>
    <header id="header">
        <div class="container">
            <div class="logo">
                <img src="/html3/assets/HireX_black.png" alt="" style="color: black;">
            </div>
            <nav id="ul">
                <ul id="nav-i">
                    <li class="nav1"><a href="">Works</a></li>
                    <li class="nav1"><a href="">About us</a></li>
                    <li class="nav1"><a href="">Blogs</a></li>
                    <li class="nav1"><a href="">FAQs</a></li>
                    <li class="nav1"><a href="">Contact us</a></li>
                    <li class="getid"><a href="sinup">We're hiring<i class="bi bi-arrow-right-short rightarrow"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="s1">
            <div class="container">
                <div class="c1">
                    <div class="text" style="width: 466px;">
                        <p>WELCOME TO HREX.<img src="/html3/assets/Star 1.png" alt="" style="width: 30px;"></p>

                        <p class="p1"><b>Award Winning Digital Agency.</b></p>
                        <p class="p2">Digital Agency offering unique to create digital and increse your sales.</p>
                    </div>
                    <div class="f3">
                        <input type="email" class="email" placeholder="Your email">
                        <button class="btn">Request access</button>
                        <button class="bt1" id="b0">Open Account and get 5 boxes</button>
                    </div>
                </div>
                <div class="c2">
                    <div id="web">
                        <img src="/html3/assets/image 2 (Traced).png" alt="">
                        <p>Web Design</p>
                    </div>
                    <div id="social">
                        <img src="/html3/assets/image 6 (Traced).png" alt="">
                        <p>Social Media</p>
                    </div>
                    <div id="uix">
                        <img src="/html3/assets/image 1 (Traced).png" alt="">
                        <p>Uix Design</p>
                    </div>
                    <div id="new">
                        <img src="/html3/assets/Group 6.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="s2">
            <div class="container" style="background-color: black;">
                <marquee behavior="" direction="">
                    <div class="row" >
                        <div class="col">
                            <div class="r1">
                                <h4 id="h4" style="width: 900px;">GET ACCESS NOW!</h4>
                            </div>
                        </div>
                        <div class="col">
                            <img id="img1" src="/html3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                        </div>
                        <div class="col">
                            <img id="img2" src="/html3/assets/Line 4.png" alt="" style="transform: rotate(90deg);">
                        </div>
                        <div class="col">
                            <div class="r1">
                                <h4 id="h4" style="width: 900px;">GET ACCESS NOW!</h4>
                            </div>
                        </div>
                        <div class="col">
                            <img id="img1" src="/html3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                        </div>
                        <div class="col">
                            <img id="img2" src="/html3/assets/Line 4.png" alt="" style="transform: rotate(90deg);">
                        </div>
                        <div class="col">
                            <div class="r1">
                                <h4 id="h4" style="width: 900px;">GET ACCESS NOW!</h4>
                            </div>
                        </div>
                        <div class="col">
                            <img id="img1" src="/html3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                        </div>
                        <div class="col">
                            <img id="img2" src="/html3/assets/Line 4.png" alt="" style="transform: rotate(90deg);">
                        </div>
                    </div>
                </marquee>
            </div>
        </section>
        <section class="s3">
            <div class="container">
                <div>
                    <div class="textgroup">
                        <h5 id="h5">SERVICES</h5>
                        <h3 id="h3">How Hirex.Work</h3>
                        <p class="p2">The awesome people who makes all this possible</p>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <div class="card0">
                                <div>
                                    <p class="p3">START HERE</p>
                                    <h4 class="h4">Who we are & what we do</h4>
                                </div>
                                <div class="icon">
                                    <img src="/html3/assets/Designer _Flatline 1.png" alt="img not found" width="250px"
                                        style="margin-left: 49px;">
                                    <button class="btn1" id="b1">Start here<i
                                            class="bi bi-arrow-right-short rightarrow"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="card0">
                                <div>
                                    <p class="p3">CUSTOM DESIGN</p>
                                    <h4 class="h4">We'll design your projects</h4>
                                </div>
                                <div class="icon">
                                    <img src="/html3/assets/Notifications_Flatline 1.png" alt="img not found" width="250px"
                                        style="margin-left: 49px;">
                                    <button class="btn1" id="b2">Start here<i
                                            class="bi bi-arrow-right-short rightarrow"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="card0">
                                <div>
                                    <p class="p3">CONTACT US</p>
                                    <h4 class="h4">Drop us your message!</h4>
                                </div>
                                <div class="icon">
                                    <img src="/html3/assets/Fortnite_Two Color 1.png" alt="img not found" width="150px" height="190px"
                                        style="margin-left: 109px;">
                                    <button class="btn1" id="b3">Start here<i
                                            class="bi bi-arrow-right-short rightarrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s4">
            <div class="container">
                <div>
                    <div class="textgroup" style="padding: 0px;">
                        <h5 id="h5" style="background-color: #458DC9;">Works</h5>
                        <h3 id="h3">Find our latest works</h3>
                        <p class="p2">The awesome people who makes all this possible</p>
                    </div>
                    <div class="row">
                        <div class="col3">
                            <div class="card2">
                                <div class="icon">
                                    <img src="/html3/assets/Rectangle 13.png" alt="">
                                </div>
                                <div class="t1">
                                    <button class="p8">Website</button>
                                    <p><b>Website Design For Digital Agency</b></p>
                                    <p>Bulid unique Website with Hirex Template</p>
                                    <p style="text-decoration: underline;"><b>Read more</b> <i class="bi bi-arrow-right-short rightarrow"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="col3">
                            <div class="card2">
                                <div class="icon">
                                    <img src="/html3/assets/Rectangle 13-1.png" alt="">
                                </div>
                                <div class="t1">
                                    <button class="p8">3D design</button>
                                    <p><b>Realistic 3d Model of Living</b></p>
                                    <p>Bulid unique Website with Hirex Template</p>
                                    <p style="text-decoration: underline;"  ><b>Read more</b> <i class="bi bi-arrow-right-short rightarrow"></i></p>
                                </div>
                                <div>
                                    <button class="btn1" style="margin-left: 329px;">View all<i
                                            class="bi bi-arrow-right-short rightarrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s5">
            <div class="container">
                <div>
                    <div class="textgroup">
                        <h3 id="h3">Plans & Pricing</h3>
                        <p class="p2">The awesome people who makes all this possible</p>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <div class="card1">
                                <div>
                                    <p class="p3" style="font-size: 20px;"><b>FREE</b></p>
                                    <div class="c3">
                                        <h4 class="h41">$0</h4>
                                        <p class="p5">/MONTH</p>
                                    </div>
                                    <p class="p4">Start free while you learn more about our services</p>
                                    <hr width="300px">
                                    <div class="c4">
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Free forever
                                            get basic esentics</p>
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Advance
                                            security and performance</p>
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Unlimited
                                            sites</p>
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Live support
                                        </p>
                                    </div>
                                </div>
                                <div class="icon">
                                    <button class="btn2">Get Started</button>
                                </div>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="card1">
                                <div>
                                    <p class="p3" style="font-size: 20px;"><b>BASIC</b></p>
                                    <div class="c3">
                                        <h4 class="h41">$19</h4>
                                        <p class="p5">/MONTH</p>
                                    </div>
                                    <p class="p4">Get powerful tools to make your grow bussiness</p>
                                    <hr width="300px">
                                    <div class="c4">
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Free forever
                                            get basic esentics</p>
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Advance
                                            security and performance</p>
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Unlimited
                                            sites</p>
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Live support
                                        </p>
                                    </div>
                                </div>
                                <div class="icon">
                                    <button class="btn2" id="b3">Get Started</button>
                                </div>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="card1">
                                <div>
                                    <p class="p3" style="font-size: 20px;"><b>PRO</b></p>
                                    <div class="c3">
                                        <h4 class="h41">$99</h4>
                                        <p class="p5">/MONTH</p>
                                    </div>
                                    <p class="p4">Take your bussiness to the next level with our tools</p>
                                    <hr width="300px">
                                    <div class="c4">
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Free forever
                                            get basic esentics</p>
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Advance
                                            security and performance</p>
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Unlimited
                                            sites</p>
                                        <p class="p31" style="font-size: 15px;"><i class="bi bi-check"></i>Live support
                                        </p>
                                    </div>
                                </div>
                                <div class="icon">
                                    <button class="btn2" id="b1">Get Started</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s6">
            <div class="container">
                <div class="cs6">
                    <div class="row" id="row1" style=" background-color: #64E379;">
                        <div class="col">
                            <div>
                                <img src="/html3/assets/arrow-left-2.png" onclick="leftArrow('row1')" alt="" id="i3">
                            </div>
                            <div>
                                <button class="btn2" id="b4">@master.place</button>
                              <img src="/html3/assets/arrow_top-right.png" alt="" id="b5">
                            </div>
                        </div>
                        <div>
                            <div class="icon" id="i1">
                                <img src="/html3/assets/testimonials-img.png" alt="">
                            </div>
                        </div>
                        <div class="col2">
                            <div class="textgroup1">
                                <p class="p6">"I select to practice and useful data useful, and our clients
                                    basically adore it! it has stood the test of time and products"</p>
                                <p class="p7">Abel carden a TikTok personaly and liop-sync contact who has bulit a
                                    fanbase of more than 3.2 million followers on the platform.</p>
                            </div>
                        </div>
                        <div class="col">
                            <img src="/html3/assets/arrow-right-2.png" onclick="rightArrow('row1')" alt="" id="i2">
                        </div>
                    </div>

                    <!-- 2 -->
                    <div class="row" id="row2" style=" background-color: #64E379; display: none;">
                        <div class="col">
                            <div>
                                <img src="/html3/assets/arrow-left-2.png" onclick="leftArrow('row2')" alt="" id="i3">
                            </div>
                            <div>
                                <button class="btn2" id="b4">@master.place 2</button>
                              <img src="/html3/assets/arrow_top-right.png" alt="" id="b5">
                            </div>
                        </div>
                        <div>
                            <div class="icon" id="i1">
                                <img src="/html3/assets/testimonials-img.png" alt="">
                            </div>
                        </div>
                        <div class="col2">
                            <div class="textgroup1">
                                <p class="p6">"We select to practice in Minerva since it is useful, and our clients
                                    basically adore it! it has stood the test of time and products 2"</p>
                                <p class="p7">Abel carden a TikTok personaly and liop-sync contact who has bulit a
                                    fanbase of more than 3.2 million followers on the platform.</p>
                            </div>
                        </div>
                        <div class="col">
                            <img src="/html3/assets/arrow-right-2.png" onclick="rightArrow('row2')" alt="" id="i2">
                        </div>
                    </div>

                    <!-- 3 -->
                    <div class="row" id="row3"  style=" background-color: #64E379; display: none;">
                        <div class="col">
                            <div>
                                <img src="/html3/assets/arrow-left-2.png" onclick="leftArrow('row3')" alt="" id="i3">
                            </div>
                            <div>
                                <button class="btn2" id="b4">@master.place 3</button>
                              <img src="/html3/assets/arrow_top-right.png" alt="" id="b5">
                            </div>
                        </div>
                        <div>
                            <div class="icon" id="i1">
                                <img src="/html3/assets/testimonials-img.png" alt="">
                            </div>
                        </div>
                        <div class="col2">
                            <div class="textgroup1">
                                <p class="p6">"Our selected to theory in Minerva since it is very useful, and our clients
                                    basically adore it! it has study the test of time and products 3"</p>
                                <p class="p7">Abel carden a TikTok personaly and liop-sync contact who has bulit a
                                    fanbase of more than 3.2 million followers on the platform.</p>
                            </div>
                        </div>
                        <div class="col">
                            <img src="/html3/assets/arrow-right-2.png" onclick="rightArrow('row3')" alt="" id="i2">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s7">
            <div class="container">
                <div>
                    <div style="margin-left: -492px;">
                        <div class="textgroup">
                            <h5 id="h5" style="background-color: #FC7F3A; margin-left: 45px;">Blogs</h5>
                            <h3 id="h3">Stay updated</h3>
                        </div>
                    </div>
                    <div class="row" id="row">
                        <div class="col3" id="col3">
                            <div class="card2">
                                <div class="icon">
                                    <img src="/html3/assets/Rectangle 19.png" alt="">
                                </div>
                                <div class="t1">
                                    <button class="p8">Web Design</button>
                                    <p><b>We launch minerva templates this week !</b></p>
                                    <p>Bulid unique Website with Hirex Template</p>
                                    <p><b>Read more</b> <i class="bi bi-arrow-right-short rightarrow"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="col3" id="col3">
                            <div class="card2">
                                <div class="icon">
                                    <img src="/html3/assets/Rectangle 20.png" alt="">
                                </div>
                                <div class="t1">
                                    <button class="p8">Web Design</button>
                                    <p><b>Introducing the non-code webflow guide</b></p>
                                    <p>Bulid unique Website with Hirex Template</p>
                                    <p><b>Read more</b> <i class="bi bi-arrow-right-short rightarrow"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s8">
            <div class="container"  style=" background-color:#FFC80A;">
                <div class="row" >
                    <div class="col2">
                        <div class="textgroup2" style="padding-top: 18px;">
                            <h3 id="h34">Get our latestes news & updates</h3>
                            <p><b>Name</b>: <input class="input" type="text"></p>
                            <hr width="500px">
                            <p><b>Email</b>: <input class="input" type="text"></p>
                            <hr width="500px">
                            <p><b>Subscribe</b>
                                <hr width="500px"><i class="bi bi-arrow-right-short rightarrow2"></i>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="textgroup3">
                            <p>We select to practice in mirlava since it useful and commonesre , and our cilents
                                basically it.</p>
                            <button class="p8">Book a call</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s9">
            <div class="container"  style="background-color: black;" >
                <marquee behavior="" direction="">
                <div class="row" >
                    <div class="col4">
                        <div class="r2">
                            <h4 id="h4" style="width: 1000px;">THANK YOU FOR YOUR VISIT</h4>
                        </div>
                    </div>
                    <div class="col4">
                        <img id="img4" src="/html3/assets/Line 4.png" alt="" style="margin-top: 30px;">
                    </div>
                    <div class="col4">
                        <div class="r2">
                            <h4 id="h4" style="width: 1000px;">THANK YOU FOR YOUR VISIT</h4>
                        </div>
                    </div>
                    <div class="col4">
                        <img id="img4" src="/html3/assets/Group 59.png" alt="">
                    </div>
                    <div class="col4">
                        <div class="r2">
                            <h4 id="h4" style="width: 1000px;">THANK YOU FOR YOUR VISIT</h4>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="r2">
                            <h4 id="h4" style="width: 1000px;">THANK YOU FOR YOUR VISIT</h4>
                        </div>
                    </div>
                    <div class="col4">
                        <img id="img4" src="/html3/assets/Line 4.png" alt="" style="margin-top: 30px;">
                    </div>
                    <div class="col4">
                        <div class="r2">
                            <h4 id="h4" style="width: 1000px;">THANK YOU FOR YOUR VISIT</h4>
                        </div>
                    </div>
                    <div class="col4">
                        <img id="img4" src="/html3/assets/Group 59.png" alt="">
                    </div>
                </div>
                </marquee>
            </div>
        </section>
    </main>
    <footer>
        <div class="container2">
            <div class="logo">
                <img src="/html3/assets/HireX_black.png" alt="" style="color: black;">
            </div>
            <hr>
            <div class="row">
                <div class="col5">
                    <p>Products</p>
                    <p><b>Platform</b></p>
                    <p><b>Store Overview</b></p>
                    <p><b>Email reports</b></p>
                    <p><b>Portfolio</b></p>
                </div>
                <div class="col5">
                    <p>Resources</p>
                    <p><b>Case Studies</b></p>
                    <p><b>Store Overview</b></p>
                    <p><b>Reports</b></p>
                    <p><b>Blog</b></p>
                    <p><b>FAQ</b></p>
                </div>
                <div class="col5">
                    <p>Company</p>
                    <p><b>Careers</b></p>
                    <p><b>Contact Sales</b></p>
                    <p><b>Contact Support</b></p>
                </div>
                <div class="col5">
                    <p>Parteners</p>
                    <p><b>Parteners with us</b></p>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col2">
                        <p>Terms and conditions Privacy policy</p>
                    </div>
                    <div class="col2">
                        <p class="p9">&#169;HIREX,INC.2022</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/html3/script.js"></script>
</body>
</html>