<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="task2.css">
    <script src="/html2/task2.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <h4 style="text-align: right;"><a href="/newprofile">Back to Home</a></h4>
    <header id="header" class="container">
        <div class="logo">
            <img src="/html2/assets/Group 3478(1).png" alt="" style="color: black;">
        </div>
        <nav id="ul">
            <ul id="nav-i">
                <li class="nav1"><a href="">Hosting</a></li>
                <li class="nav1"><a href="">Integration</a></li>
                <li class="nav1"><a href="">Pricing</a></li>
                <li class="nav1"><a href="">Community</a></li>
                <li class="getid"><a href="sinup">Login</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        <section class="s1">
            <div class="container">
                <div class="text" style="width: 466px;">
                    <p class="p1"><b>Hosting Services for Your Website</b></p>
                    <p class="p2">Easily and reliably host a website for your busssiness, organization or project while
                        reatining complete control over your site underlying infrastructure</p>
                    <button class="btn">Get Started</button>
                    <button class="btn1">Get Migration help</button>
                </div>
                <div class="img1">
                    <img src="/html2/assets/portrait-confident-bearded-man-using-laptop-computer 1.png" alt=""
                        style="margin-left: 112px;">
                </div>
            </div>
            <button onclick="myfun()" id="b1"> <img src="/html2/assets/arrow-down.png" alt="" style="margin-left: 10px;"></button>

        </section>
        <section class="s2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="r1">
                            <h4> Those Who Have Experienced The Best Performance</h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card3" id="i1">
                            <img src="/html2/assets/Telkom Indonesia Logo.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card3">
                            <img src="/html2/assets/Jetstar Airways Logo.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card3">
                            <img src="/html2/assets/Nescafe Logo.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card3">
                            <img src="/html2/assets/Lenovo Logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s3">
            <div class="container">
                <div class="img1">
                    <img src="/html2/assets/Group 3552.png" alt="">
                </div>
                <div class="t2">
                    <p class="p3"><b>Boost the speed of your website</b></p>
                    <div>
                        <div class="row">
                            <div class="col1">
                                <h4>Faster Build Process</h4>
                                <p class="p4">We can speed up the process of creating your website</p>
                            </div>
                            <div class="col1">
                                <h4>Faster Delivery</h4>
                                <p class="p4">Our can speed up the process of creating your website</p>
                            </div>
                            <div class="col1">
                                <h4>Faster Access Speed</h4>
                                <p class="p4">Superb can speed up the process of creating your website stable access</p>
                            </div>
                            <div class="col1">
                                <h4>24/7 Faster Service</h4>
                                <p class="p4">We can speed up the process of creating your website 24 hours day.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s4">
            <div class="container2">
                <div class="textgroup">
                    <p class="p5">
                        <b>Host Any Website With Our Fully Manged Services</b>
                    </p>
                </div>
                <div class="row">
                    <div class="col2">
                        <div class="card">
                            <div class="outer">
                                <div class="inner">
                                    <div class="icon">
                                        <img src="/html2/assets/cloud-sunny.png" alt="" class="img2">
                                        <h4>Cloud Hosting</h4>
                                    </div>
                                    <div>
                                        <p class="p4">Cloud hosting a good of those of you what
                                            are bulding personal
                                            websies
                                        </p>
                                    </div>
                                </div>
                                <h2 class="h">5.9$/month</h2>
                                <button class="btn1">More Detail</button>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="card">
                            <div class="outer">
                                <div class="inner">
                                    <div class="icon">
                                        <img src="/html2/assets/buildings.png" alt="" class="img2">
                                        <h4>Corporate</h4>
                                    </div>
                                    <div>
                                        <p class="p4">Private hosting a good of those of you what are bulding personal
                                            websies</p>
                                    </div>
                                </div>
                                <h2 class="h">19$/month</h2>
                                <button class="btn1">More Detail</button>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="card" style="background-color: aliceblue;">
                            <div class="outer">
                                <div class="inner">
                                    <div class="icon">
                                        <img src="/html2/assets/driver.png" alt="" class="img2">
                                        <h4>Cloud VPS</h4>
                                    </div>
                                    <div>
                                        <p class="p4">A scalable fully managment good of those of you what are bulding
                                            personal websies</p>
                                    </div>
                                </div>
                                <h2 class="h">29$/month</h2>
                                <button class="btn1">More Detail</button>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="card" style="background-color: aliceblue;">
                            <div class="outer">
                                <div class="inner">
                                    <div class="icon">
                                        <img src="/html2/assets/monitor-mobbile.png" alt="" class="img2">
                                        <h4>Dedicated</h4>
                                    </div>
                                    <div>
                                        <p class="p4">Your mission critical hosting a good of those of you what are
                                            bulding
                                            personal websies</p>
                                    </div>
                                </div>
                                <h2 class="h">19$/month</h2>
                                <button class="btn1">More Detail</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="s5">
            <div class="container2">
                <div class="row">
                    <div class="col3">
                        <div class="card" onclick="ff1()">
                            <div class="icon1">
                                <img src="/html2/assets/WordPress.com Logo.png" alt="" width="70px">&emsp;
                                <p>Word Press</p>
                            </div><br>
                        </div>
                        <div class="card" onclick="ff2()">
                            <div class="icon1">
                                <img src="/html2/assets/image (2).png" alt="">&emsp;
                                <p>Magneto</p>
                            </div><br>
                        </div>
                        <div class="card" onclick="ff3()">
                            <div class="icon1">
                                <img src="/html2/assets/image (4).png" alt="">&emsp;
                                <p>Laravel</p>
                            </div><br>
                        </div>
                        <div class="card" onclick="ff4()">
                            <div class="icon1">
                                <img src="/html2/assets/image (6).png" alt="">&emsp;
                                <p>PHP</p>
                            </div><br>
                        </div>
                    </div>
                    <div class="col3" id="wordpress">
                        <div class="textgroup">
                            <p class="p6"><b>The Best Managed Cloud Hosting for wordpress</b></p>
                            <p class="p7">We live and brethe Wordpress. Our manged hosting for WordPress and Woo
                                Commerance Takes way cloud server hassles so you can scale</p>
                        </div>
                        <div class="row">
                            <p class="col1"><i class="bi bi-check check"></i> Unlimited Bandwith</p>
                            <p class="col1"><i class="bi bi-check check"></i> Network speed</p>
                            <p class="col1"><i class="bi bi-check check"></i> urbo power</p>
                            <p class="col1"><i class="bi bi-check check"></i> Xtreme freedom</p>
                            <button class="btn">More Detail</button>
                        </div>
                    </div>
                    <div class="col3"  style="display: none;" id="magneto">
                        <div class="textgroup">
                            <p class="p6"><b>The Best Managed Cloud Hosting for mangneto</b></p>
                            <p class="p7">We live and brethe Wordpress. Our manged hosting for WordPress and Woo
                                Commerance Takes way cloud server hassles so you can scale</p>
                        </div>
                        <div class="row">
                            <p class="col1"><i class="bi bi-check check"></i> Unlimited Bandwith</p>
                            <p class="col1"><i class="bi bi-check check"></i> Network speed</p>
                            <p class="col1"><i class="bi bi-check check"></i> urbo power</p>
                            <p class="col1"><i class="bi bi-check check"></i> Xtreme freedom</p>
                            <button class="btn">More Detail</button>
                        </div>

                    </div>
                    <div class="col3"  style="display: none;" id="laravel">
                        <div class="textgroup">
                            <p class="p6"><b>The Best Managed Cloud Hosting for laravel</b></p>
                            <p class="p7">We live and brethe Wordpress. Our manged hosting for WordPress and Woo
                                Commerance Takes way cloud server hassles so you can scale</p>
                        </div>
                        <div class="row">
                            <p class="col1"><i class="bi bi-check check"></i> Unlimited Bandwith</p>
                            <p class="col1"><i class="bi bi-check check"></i> Network speed</p>
                            <p class="col1"><i class="bi bi-check check"></i> urbo power</p>
                            <p class="col1"><i class="bi bi-check check"></i> Xtreme freedom</p>
                            <button class="btn">More Detail</button>
                        </div>

                    </div>
                    <div class="col3" style="display: none;" id="php">
                        <div class="textgroup">
                            <p class="p6"><b>The Best Managed Cloud Hosting for php</b></p>
                            <p class="p7">We live and brethe Wordpress. Our manged hosting for WordPress and Woo
                                Commerance Takes way cloud server hassles so you can scale</p>
                        </div>
                        <div class="row">
                            <p class="col1"><i class="bi bi-check check"></i> Unlimited Bandwith</p>
                            <p class="col1"><i class="bi bi-check check"></i> Network speed</p>
                            <p class="col1"><i class="bi bi-check check"></i> urbo power</p>
                            <p class="col1"><i class="bi bi-check check"></i> Xtreme freedom</p>
                            <button class="btn">More Detail</button>
                        </div>

                    </div>
                </div>
                <div>

                </div>
            </div>
        </section>
        <section class="s6">
            <div class="container2">
                <div class="row">
                    <div class="col2">
                        <p class="p3"><b>How Our customers feel about us</b></p>
                    </div>
                    <div style="margin-left: 540px; padding-top: 75px;">
                        <button id="b2" onclick="myfun1()"><img src="/html2/assets/arrow-right.png" alt=""
                                style="transform: rotate(180deg);"></button>
                        <button id="b3" onclick="myfun2()"><img src="/html2/assets/arrow-right.png" alt=""></button>
                    </div>
                </div>
                <div class="row3" id="row3">
                    <div class="col2">
                        <div class="card2">

                            <div class="icon">
                                <img src="/html2/assets/profile.png" alt="" style="margin-left: 30px;"><br>
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                            </div>
                            <div class="t3">
                                <p class="p2">Thanks to the awan hoster. I was gulied step by step it was finished</p>
                                <h3>Guy Hawkins</h3>
                                <p class="p2">Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="card2">

                            <div class="icon">
                                <img src="/html2/assets/profile.png" alt="" style="margin-left: 30px;"><br>
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                            </div>
                            <div class="t3">
                                <p class="p2">Thanks to the awan hoster. I was gulied step by step it was finished</p>
                                <h3>Guy Hawkins</h3>
                                <p class="p2">Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="card2">

                            <div class="icon">
                                <img src="/html2/assets/profile.png" alt="" style="margin-left: 30px;"><br>
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                            </div>
                            <div class="t3">
                                <p class="p2">Thanks to the awan hoster. I was gulied step by step it was finished</p>
                                <h3>Guy Hawkins</h3>
                                <p class="p2">Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="card2">

                            <div class="icon">
                                <img src="/html2/assets/profile.png" alt="" style="margin-left: 30px;"><br>
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                            </div>
                            <div class="t3">
                                <p class="p2">Thanks to the awan hoster. I was gulied step by step it was finished</p>
                                <h3>Guy Hawkins</h3>
                                <p class="p2">Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="card2">

                            <div class="icon">
                                <img src="/html2/assets/profile.png" alt="" style="margin-left: 30px;"><br>
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                                <img src="/html2/assets/Star 2.png" alt="" width="20px">
                            </div>
                            <div class="t3">
                                <p class="p2">Thanks to the awan hoster. I was gulied step by step it was finished</p>
                                <h3>Guy Hawkins</h3>
                                <p class="p2">Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s7">
            <div class="container">
                <div class="text" style="width: 466px;">
                    <p class="p1"><b>Try Now and stop doubting anything else</b></p>
                    <p class="p2">With awan hsoter money back guarantee , you can try the best service reliability</p>
                    <button class="btn">Start trial</button>
                    <button class="btn1">See all palns</button>
                </div>
                <div class="img1">
                    <img src="/html2/assets/Group 1000008788.png" alt="" style="margin-left: 112px;">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="f0">
                <div>
                    <img src="/html2/assets/Group 3478(1).png" alt="" style="background-color: aliceblue;">
                </div>
                <div class="f01">
                    We provide with the best hosting solution for your website.
                </div>
                <div>
                    <br>
                    <i class="bi bi-facebook you"></i>&emsp;
                    <i class="bi bi-twitter you"></i>&emsp;
                    <i class="bi bi-instagram you"></i>&emsp;
                    <i class="bi bi-youtube you"></i>&emsp;
                    <i class="bi bi-discord you"></i>
                </div>
            </div>
            <div class="row" style="color: aliceblue;">
                <div class="col5">
                    <p><b>Company</b></p>
                    <p>About</p>
                    <p>Blog</p>
                    <p>Leader ship</p>
                    <p>Careers</p>
                    <p>Legal</p>
                </div>
                <div class="col5">
                    <p><b>Product</b></p>
                    <p>API</p>
                    <p>Pricing</p>
                    <p>Documentaion</p>
                    <p>Release notes</p>
                </div>
                <div class="col5">
                    <p><b>Contact</b></p>
                    <p>Support</p>
                    <p>Sales</p>
                    <p>Report Abuse</p>
                    <p>System Status</p>
                </div>
            </div>

        </div>
    </footer>
</body>

</html>