<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password</title>
    <link rel="stylesheet" href="/regi.css">
</head>

<body>
    <div class="main">
        <h2>Password</h2>
        <form action="<%=is_forgot?'/forgotpassword/forgotpassword':'/login/login'%>" method="post">
            <input type="hidden" id="email" value="<%=email%>" name="email"/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />

            <label for="repassword">Re-type Password:</label>
            <input type="password" id="repassword" name="repassword" required />

            <button type="submit">Create</button>
        </form>
    </div>
</body>

</html>