<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="/regi.css">

</head>

<body>
    <div class="main">
        <h2>Registration Form</h2>
        <form action="/register" method="post">
            <p id="err" style="color: red;"></p>

            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" required />

            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" required />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
            
            <a href="/login/login">Login</a><br><br>
            <button type="submit">Sign In</button>
        </form>
    </div>
</body>
<script>
    try {
        let err = '<%=err%>'
        document.getElementById('err').innerHTML = err
    } catch (err) {

    }
</script>

</html>