<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jsonallstudent</title>
    <style>
        body {
            background-color: rgb(250, 197, 185);
        }

        button {
            width: 70px;
            background-color: rgb(250, 197, 185);
            border: none;
            font-size: 25px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            background-color: rgb(217, 215, 250);
            border-collapse: collapse;
            text-align: center;
        }

        #div1 {
            margin-left: 550px;
            font-size: 25px;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>JSON All Students Data </h1>
    <div id="div1">
        <button id="leftl" onclick="pagination('left')">
            < </button>
                <span id="pageno"></span>
                <button id="rightl" onclick="pagination('right')"> > </button>
    </div><br>
    Search : <input type="text" name="Search" id="" onkeyup="search(this.value)" placeholder="Search"><br><br>
    <h4 style="text-align: right;"><a href="/newprofile">Back to Home</a></h4>
    <table id="t1">
        <tr></tr>
    </table>
</body>
<script>
    let obj = {}
    let page = 1;

    // 1. paggination

    document.getElementById('pageno').innerHTML = page;
    if (page == 1) {
        document.getElementById('leftl').disabled = true;
    }
    if (page == 10) {
        document.getElementById('rightl').disabled = true;
    }
    function pagination(dire) {
        if (dire == 'left') {
            page -= 1
            document.getElementById('pageno').innerHTML = page;
            if (page == 1) {
                document.getElementById('leftl').disabled = true;
            }
            else {
                document.getElementById('rightl').disabled = false;
            }
            tablecreate(obj, page)
        }
        else if (dire == 'right') {
            page += 1
            document.getElementById('pageno').innerHTML = page;
            if (page == 10) {
                document.getElementById('rightl').disabled = true;
            }
            else {
                document.getElementById('leftl').disabled = false;
            }
            // console.log(obj, page);
            tablecreate(obj, page)
        }
    }

    // 2. show all data in table

    function tablecreate(data1, pageno) {
        const keys = Object.keys(data1[0]);
        let a = '<tr> ';
        for (let i = 0; i < keys.length; i++) {
            a = a + '<th>' + keys[i] + '</th>'
        }
        a += '<th>Details</th></tr>'

        let val1 = Object.values(data1);
        val1 = val1.slice(((pageno - 1) * 10), pageno * 10)
        let b = '<tr>';
        for (let i = 0; i < val1.length; i++) {
            let val2 = Object.values(val1[i]);
            for (let j = 0; j < val2.length; j++) {
                b = b + '<td>' + val2[j] + '</td>'
            }
            b += `<td><a href="/jsonplaceholder/posts/${val2[1]}">View</a></td>`
            b += '</tr>'
        }
        document.getElementById('t1').innerHTML = a + b;
    }

    // 3. fetch data in url

    const res = fetch('https://jsonplaceholder.typicode.com/posts').then(response => { return response.json() }).then(data1 => {
        obj = data1
        tablecreate(data1, 1)
    })

    //4. search data
    const search = (key) => {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = key;
        // console.log(input);
        filter = input;
        table = document.getElementById("t1");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            for (let j = 0; j < 5; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        }

    }

</script>

</html>